/* Modulo 02 - CSS */
/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */

/* body {
    height: 100vh;
} */

/* main {
    background-color: rgb(255, 145, 0);
    padding: .5rem;
} */

/* .fecha {
    display: flex;
} */

.date-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mark {
    background-color: #ff6347;
    color: #111827;
    border-radius: .8vw;
}

.active {
    background-color: rgba(0, 255, 255, 0.284);

    svg {
        fill: #111827;
    }
}

.add-album {
    background-color: #00ffff;

    &:hover {
        background-color: rgb(0, 187, 187);
    }
}

button:disabled {
    background-color: transparent !important;
    color: #ccc;
    cursor: not-allowed;
    /* Muestra un cursor de prohibido */
}

.add-album-form {
    /* background-color: #ccc; */
    width: 40%;
    margin: 2rem auto;

    input {
        color: #111827;
        width: 100%;
    }
}

label {
    color: #00ffff;
}

.error {
    color: red;
    font-size: 0.9em;
}

.album-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.button-group button {
    margin: 5px;
    padding: 8px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
}

.button-group button:hover {
    background-color: #0056b3;
}